{% extends "base.html" %}

{% block content %}

<form method="post">
  <label>
    Main page
    <input type="radio" name="q" value="">
  </label>
  <br>
  <label>
    Birthdate
    <input type="radio" name="q" value="birthdate">
  </label>
  <br>
  <label>
    Rot13
    <input type="radio" name="q" value="rot13">
  </label>
  <br>
  <label>
    Shopping list
    <input type="radio" name="q" value="shopping">
  </label>
  <br>
  <label>
    FizzBuzz
    <input type="radio" name="q" value="fizzbuzz">
  </label>
  <br>
  <label>
    ASCII blog
    <input type="radio" name="q" value="ascii">
  </label>
  <br>
  <label>
    My blog
    <input type="radio" name="q" value="blog">
  </label>
  <br>
  <label>
    Visits
    <input type="radio" name="q" value="visits">
  </label>
  <br>
  <label>
    SignUp
    <input type="radio" name="q" value="signup">
  </label>
  <br>
  <label>
    Login
    <input type="radio" name="q" value="login">
  </label>
  <br>
  <br>
  <button type="submit" name="submit">GO</button>
</form>


{% endblock %}
