{% extends "base.html" %}

{% block content %}

<h2>Signup</h2>
<form method="post">
  <table>
    <tr>
      <td class="label">
        Username
      </td>
      <td>
        <input type="text" name="username" value="">
      </td>
      <td class="error">
        {{errorUsername | safe}}
      </td>
    </tr>

    <tr>
      <td class="label">
        Password
      </td>
      <td>
        <input type="password" name="password">
      </td>
      <td class="error">
        {{errorPassword | safe}}
      </td>
    </tr>

    <tr>
      <td class="label">
        Verify Password
      </td>
      <td>
        <input type="password" name="verify">
      </td>
      <td class="error">
        {{errorVerify | safe}}
      </td>
    </tr>

    <tr>
      <td class="label">
        Email (optional)
      </td>
      <td>
        <input type="text" name="email">
      </td>
      <td class="error">
        {{errorEmail | safe}}
      </td>
    </tr>
  </table>

  <input type="submit">
</form>

{% endblock %}
